@media screen and (max-width: 825px) {
    nav {
        flex-direction: column;
        ul {
            text-align: center;
            padding: 0;
            li {
                display: block;
                margin: 16px 0px;
                font-size: 1.5em;
            
            }
        }
    }

}